
          button {
        display: inline-block;
        background-color: blue;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: black;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      button span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      button:hover {
        background-color: pink;
      }
      button:hover span {
        padding-right: 25px;
      }
      button:hover span:after {
        opacity: 1;
        right: 0;
      }
      

 .button2 {
            background-color: orange;
            box-shadow: 0 5px 0 #105cad;
            color: white;
            padding: 1em 1.5em;
            position: relative;
            text-decoration: none;
            display: inline-block;
        }

video {
  width: 500px;
  height="500"
  display: block;
  margin-left: auto;
  margin-right: auto;
}